/* VS Code theming */
body {
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  line-height: var(--vscode-line-height);
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}

button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 4px 16px;
  text-align: center;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  font-family: var(--vscode-font-family);
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

button:focus {
  outline: 1px solid var(--vscode-focusBorder);
  outline-offset: 2px;
}

input {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-border);
  padding: 6px 8px;
  border-radius: 2px;
  font-family: var(--vscode-font-family);
  font-size: 13px;
}

input:focus {
  outline: none;
  border: 1px solid var(--vscode-focusBorder);
  background-color: var(--vscode-input-background);
}

input::placeholder {
  color: var(--vscode-input-placeholderForeground);
}
